/*
The responsive css file for screens less than or equal to 400px wide.
*/


/*
The entire body is encompassed in an outer flex box container in a vertical direction.
*/

.flex-container {
	display: flex;
	flex-direction: column;
}


/*
The header section is encompassed in an inner flex box container in a vertical
direction.
*/

.header {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
}


/*
The logo has to be visible for small screens.
*/

.logo {
	margin-left: 0px !important;
}

.logo img {
	width: 80px;
	height: 80px;
}


/*
The heading has to be visible for small screens.
The line-height element gives the space between two headings.
*/

.heading {
	font-size: 18px;
	line-height: 10px;
	justify-content: flex-start;
	align-items: flex-start;
}


/*
The horizontal line which will fit the whole width of the screen.
*/

#underlineone {
	align-self: stretch;
	display: block !important;
}


/*
The menu has to be visible for small screens.
*/

#menu {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	position: relative !important;
	margin-top: 0px !important;
	margin-left: 15px;
}

#menu .button {
	font-size: 22px !important;
}

#subheading {
	font-size: 28px;
}


/*
The SubImages section in another inner flexbox in a vertical direction.
*/

#main {
	display: flex;
	flex-direction: column;
	align-self: center;
	justify-content: center;
}

#next {
	left: -120px;
}

#prev {
	left: 30px;
}


/*
The caption of the images in a specific format.
*/

figcaption {
	font-family: "verdana", sans-serif;
	font-size: 20px;
}

.notes {
	font-family: "verdana", sans-serif;
	font-size: 20px;
}

.textcenter,
.center {
	font-size: 25px;
}

.sharebutton {
	width: 8%;
	height: 8%;
}
